FRIGATE_URL=http://your-frigate-url:5000
FRIGATE_USERNAME=
FRIGATE_PASSWORD=
EXTERNAL_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
MONITOR_CONFIG=
POLLING_INTERVAL=60
TIMEZONE=UTC
LOCALES=en-US
DEBUG=false
STATE_FILE=/app/data/state.json
MEDIA_WAIT_TIMEOUT=5
UPLOAD_TIMEOUT=60
SEND_CLIP=false
